@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#draw-button {
  position: absolute;
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height:40px;
  font-size: 16px;
  top: 100px;
  left: 10px;
  z-index: 1000;
}

#draw-button:hover {
  background-color: cornflowerblue;
}